/* Global Variable Styles */

body {
    font-family: Verdana;
    color: #EEF3EF;
}

h2, h4 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 20%;
}

div {
    display: flex;
    justify-content: center;
    align-items : center;
    margin-left: auto;
    margin-right: auto;
    background-color: #415E53;
    border-color:  #AAC4AD;
    border-style: solid;
    border-width: 2px;
}

button {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    font-family: Verdana;
    border-color: #6C9992;
    background-color: #363636;
    color: #AAC4AD;
}

button:hover {
    border-color: #6C9992;
    background-color: #AAC4AD;
    color: #415E53;
}

a {
    color: #6C9992;
}

a:hover {
    color: aliceblue;
}

p {
    font-size: 10px;
}

/* Class Name Styles */

.BTab {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 50%;
    border-radius: 20px;
}

.CBox {
    width: 70%;
    border-radius: 40px;
}

.ProjectBox {
    display: inline-block;
    text-align: center;
    background-color: #6C9992;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.AMBox {
    display: inline-block;
    justify-content: start;
    background-color: #6C9992;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    width: 45%;
}

.RemoveB {
    background-color: transparent;
}

/* ID Name Styles */

#Navigator {
    margin-left: auto;
    margin-right: auto;
    height: 10%;
}

#SelfPhoto {
    border-style: solid;
    border-radius: 20px;
}

#ProjectBox1, #ProjectBox2 {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
    border-style: none;
}

#AutobiographyText {
    padding-left: 10px;
    padding-right: 10px;
}

#Footer {
    justify-content: start;
    padding: 0px;
    margin: auto;
    margin-top: 40px;
    width: 50%;
    height: 20%;
}

#FooterContentBox {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}