h2 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    width: 20%
}

.Navigator{
    align-items : center;
    margin: 20px;
}

button {
    background-color: #0C090A;
    color: #FFC30B;
    border-radius: 10px;
    margin-left: 25px;
    margin-right: 25px;
}