/* Global Variable Styles */

body {
    font-family: Verdana;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: white;
}

img {
    display: block;
    margin: auto;
    width: 20%;
}

div {
    display: flex;
    justify-content: center;
    align-items : center;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C2951;
    border-color: #808580;
    border-style: solid;
    border-width: 2px;
}

button {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 7px;
    margin-bottom: 7px;
    border-radius: 10px;
    font-family: Verdana;
    border-color: #FFC30B;
    background-color: #0C090A;
    color: #6693F5;
}

button:hover {
    border-color: #6693F5;
    background-color: #FFC30B;
    color: #0C090A;
}

p {
    font-size: 10px;
}

/* Class Name Styles */

.BTab {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 40%;
    border-radius: 20px;
}

.CBox {
    padding: 100px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 40px;
}

.ProjectBox{
    padding: 100px;
    border-radius: 10px;
    color: aliceblue;
}

.RemoveB {
    /*border-style: none;*/
    background-color: transparent;
}

/* ID Name Styles */

#Navigator {
    margin-left: auto;
    margin-right: auto;
    height: 10%;
}

#SelfPhoto {
    border-style: solid;
    border-radius: 20px;
}

#ProjectBox1, #ProjectBox2 {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    width: 40%;
    border-style: none;
}

#Footer {
    justify-content: start;
    padding: 0px;
    margin: auto;
    width: 50%;
    height: 20%;
}

#FooterImageBox, #FooterContentBox {
    margin: 0px;
}

#FooterImageBox {
    padding: 0px;
    width: 66%;
    height: 100%;
}

#FooterContentBox {
    display: inline-block;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}